/*
#F1E4E8 basically white pink
#E2DCDE grey
#CEB1BE pink
#B97375 darker pink
#2D2D34 basically black pink
*/

body {
  background-color: #F1E4E8; 
  font-family:  Archivo;
  font-size: 1vw;
  
  font-weight: 600;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  overflow-x: hidden;
  /*grid used exclusively for sticky footer*/
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
  /*grid end (phew)*/
}

p {
  font-size: 1vw;
  
  font-weight: 600;
  line-height: 110%;
  color: #2D2D34; 
}
* {
  margin: 0;
}

/*header*/
header {
  background-color: #2D2D34; 
  color: #B97375; 
  padding: 10px;
  grid-area: header;
  display: flex;
  justify-content: left;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: left;
}

nav li {
  display: flex;
  margin-right: 10px;
}

nav li img {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  max-width: 12vw;
  height:auto;
}

.hvr-bounce-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/*header*/


/*index*/
.about-text img {
  float: right;
  margin-right: 20px;
  margin-left: 20px;
}

.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-rotate:active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/*index*/


/*links page*/
.contactlist {
  list-style: none;
  justify-content: left;
  margin: 0;
}
/*links page*/


/*various*/
a {
  color: #B97375;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}


li {
  list-style: none;
}
/*various*/

/*footer*/
footer {
  background-color: #2D2D34; 
  color: #E2DCDE; 
  padding: 10px 20px;
  text-align: center;
  grid-area: footer;
}

footer p {
  color: #B97375;

}
/*footer*/

/*gallery image containers*/
.container1 {
  background-color: #2D2D34; 
  border-radius: 25px;
  width:22vw;
  height:315px;
  display:inline-block;
  margin:0px 5px 15px 0px;
  overflow: hidden;
}

.container1 img {
  border-radius: 20px;
  margin: .375vw .375vw 0vw .375vw;
  width: 21.25vw; 
  height: 250px; 
  object-fit: cover;
  cursor:pointer;
  transition: height .25s;
}

.container1:hover img {
  height: 300px; 
  
}


.container1 p {
  text-align: center;
  color: #F1E4E8; 
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 80%
  
}
/*gallery image containers*/

/*project containers*/
.container2 {
  background-color: #2D2D34; 
  border-radius: 25px;
  width:44.8vw;
  height:480px;
  display:inline-block;
  margin:0px 5px 0px 0px;
  overflow: hidden;
}

.container2 img {
  border-radius: 20px;
  margin: .3vw 0px 0px .3vw;
  width: 44.25vw; 
  height: 470px; 
  object-fit: cover;
  float: left;
  cursor:pointer;
  opacity:1;
  transition: width .25s;
}

.container2 img:hover {
  opacity:0.80;
  
}
.container2 p {
  padding: 20px 20px 0px 25vw;
  text-align: left;
  color: #F1E4E8; 
  line-height: 90%;
}

.bold {
  font-weight: 600;
}
/*project containers*/

/*image modals*/
.modal {
  z-index:1;
  display:none;
  padding-top:10px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.8)
  }
  
.modal-content{
  margin: auto;
  vertical-align: top;
  width:auto;
  height:90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.modal-content img {
  max-width: 100%;
  max-height: 90vh;
  margin: auto;
}

.modal-hover-opacity {
  opacity:1;
  filter:alpha(opacity=100);
  transition: opacity .25s;
  
}
.modal-hover-opacity:hover {
  opacity:0.60;
  filter:alpha(opacity=60);
}

.close {
  text-decoration:none;
  float:right;
  font-size:1.5vw;
  font-weight:bold;
  color:white;
}
/*image modals*/
  