html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #F1E4E8; 
  font-family:  Consolas, monospace;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

* {
  margin: 0;
}

header {
  background-color: #2D2D34; 
  color: #B97375; 
  padding: 20px;
  grid-area: header;
  display: flex;
  justify-content: left;
  align-items: center;
}

.centered {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.image-container img {
  display: inline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  grid-area: main;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

section p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  list-style: none;
}

li img {
  display: block;
  margin-bottom: 10px;
  max-width: 100%;
}

footer {
  background-color: #2D2D34; 
  color: #E2DCDE; 
  padding: 10px 20px;
  text-align: center;
  grid-area: footer;
}

.fullscreen img {
  max-width: 90%;
  max-height: 90%;
}
